body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #c1c1c1;
}

/*
  Responsividade do Container do Dialog de
  Informações de Personagens
*/
.MuiDialog-paperScrollPaper{
  min-width: 300px!important;
  min-height: 300px!important;
}
@media(max-width:720px){
  .MuiDialog-paperScrollPaper{
    margin:5px!important;
  }
}


*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
*::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
}
*::-webkit-scrollbar-thumb {
  background-color: #dfdfdf;
  border-radius: 10px;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media (max-width: 1080px) {
  html {
    font-size: 93.75%;
  }
}

@media (max-width: 720px) {
  html {
    font-size: 87.5%;
  }
}

button {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

.loader {
  margin: 100px auto;
  font-size: 25px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  -webkit-animation: load5 1.1s infinite ease;
  animation: load5 1.1s infinite ease;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
@-webkit-keyframes load5 {
  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em #E5B919FF, 1.8em -1.8em 0 0em rgba(229,185,25, 0.2), 2.5em 0em 0 0em rgba(229,185,25, 0.2), 1.75em 1.75em 0 0em rgba(229,185,25, 0.2), 0em 2.5em 0 0em rgba(229,185,25, 0.2), -1.8em 1.8em 0 0em rgba(229,185,25, 0.2), -2.6em 0em 0 0em rgba(229,185,25, 0.5), -1.8em -1.8em 0 0em rgba(229,185,25, 0.7);
  }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(229,185,25, 0.7), 1.8em -1.8em 0 0em #E5B919FF, 2.5em 0em 0 0em rgba(229,185,25, 0.2), 1.75em 1.75em 0 0em rgba(229,185,25, 0.2), 0em 2.5em 0 0em rgba(229,185,25, 0.2), -1.8em 1.8em 0 0em rgba(229,185,25, 0.2), -2.6em 0em 0 0em rgba(229,185,25, 0.2), -1.8em -1.8em 0 0em rgba(229,185,25, 0.5);
  }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(229,185,25, 0.5), 1.8em -1.8em 0 0em rgba(229,185,25, 0.7), 2.5em 0em 0 0em #E5B919FF, 1.75em 1.75em 0 0em rgba(229,185,25, 0.2), 0em 2.5em 0 0em rgba(229,185,25, 0.2), -1.8em 1.8em 0 0em rgba(229,185,25, 0.2), -2.6em 0em 0 0em rgba(229,185,25, 0.2), -1.8em -1.8em 0 0em rgba(229,185,25, 0.2);
  }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(229,185,25, 0.2), 1.8em -1.8em 0 0em rgba(229,185,25, 0.5), 2.5em 0em 0 0em rgba(229,185,25, 0.7), 1.75em 1.75em 0 0em #E5B919FF, 0em 2.5em 0 0em rgba(229,185,25, 0.2), -1.8em 1.8em 0 0em rgba(229,185,25, 0.2), -2.6em 0em 0 0em rgba(229,185,25, 0.2), -1.8em -1.8em 0 0em rgba(229,185,25, 0.2);
  }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(229,185,25, 0.2), 1.8em -1.8em 0 0em rgba(229,185,25, 0.2), 2.5em 0em 0 0em rgba(229,185,25, 0.5), 1.75em 1.75em 0 0em rgba(229,185,25, 0.7), 0em 2.5em 0 0em #E5B919FF, -1.8em 1.8em 0 0em rgba(229,185,25, 0.2), -2.6em 0em 0 0em rgba(229,185,25, 0.2), -1.8em -1.8em 0 0em rgba(229,185,25, 0.2);
  }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(229,185,25, 0.2), 1.8em -1.8em 0 0em rgba(229,185,25, 0.2), 2.5em 0em 0 0em rgba(229,185,25, 0.2), 1.75em 1.75em 0 0em rgba(229,185,25, 0.5), 0em 2.5em 0 0em rgba(229,185,25, 0.7), -1.8em 1.8em 0 0em #E5B919FF, -2.6em 0em 0 0em rgba(229,185,25, 0.2), -1.8em -1.8em 0 0em rgba(229,185,25, 0.2);
  }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(229,185,25, 0.2), 1.8em -1.8em 0 0em rgba(229,185,25, 0.2), 2.5em 0em 0 0em rgba(229,185,25, 0.2), 1.75em 1.75em 0 0em rgba(229,185,25, 0.2), 0em 2.5em 0 0em rgba(229,185,25, 0.5), -1.8em 1.8em 0 0em rgba(229,185,25, 0.7), -2.6em 0em 0 0em #E5B919FF, -1.8em -1.8em 0 0em rgba(229,185,25, 0.2);
  }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(229,185,25, 0.2), 1.8em -1.8em 0 0em rgba(229,185,25, 0.2), 2.5em 0em 0 0em rgba(229,185,25, 0.2), 1.75em 1.75em 0 0em rgba(229,185,25, 0.2), 0em 2.5em 0 0em rgba(229,185,25, 0.2), -1.8em 1.8em 0 0em rgba(229,185,25, 0.5), -2.6em 0em 0 0em rgba(229,185,25, 0.7), -1.8em -1.8em 0 0em #E5B919FF;
  }
}
@keyframes load5 {
  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em #E5B919FF, 1.8em -1.8em 0 0em rgba(229, 185, 25, 0.2), 2.5em 0em 0 0em rgba(229, 185, 25, 0.2), 1.75em 1.75em 0 0em rgba(229, 185, 25, 0.2), 0em 2.5em 0 0em rgba(229, 185, 25, 0.2), -1.8em 1.8em 0 0em rgba(229, 185, 25, 0.2), -2.6em 0em 0 0em rgba(229, 185, 25, 0.5), -1.8em -1.8em 0 0em rgba(229, 185, 25, 0.7);
  }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(229, 185, 25, 0.7), 1.8em -1.8em 0 0em #E5B919FF, 2.5em 0em 0 0em rgba(229, 185, 25, 0.2), 1.75em 1.75em 0 0em rgba(229, 185, 25, 0.2), 0em 2.5em 0 0em rgba(229, 185, 25, 0.2), -1.8em 1.8em 0 0em rgba(229, 185, 25, 0.2), -2.6em 0em 0 0em rgba(229, 185, 25, 0.2), -1.8em -1.8em 0 0em rgba(229, 185, 25, 0.5);
  }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(229, 185, 25, 0.5), 1.8em -1.8em 0 0em rgba(229, 185, 25, 0.7), 2.5em 0em 0 0em #E5B919FF, 1.75em 1.75em 0 0em rgba(229, 185, 25, 0.2), 0em 2.5em 0 0em rgba(229, 185, 25, 0.2), -1.8em 1.8em 0 0em rgba(229, 185, 25, 0.2), -2.6em 0em 0 0em rgba(229, 185, 25, 0.2), -1.8em -1.8em 0 0em rgba(229, 185, 25, 0.2);
  }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(229, 185, 25, 0.2), 1.8em -1.8em 0 0em rgba(229, 185, 25, 0.5), 2.5em 0em 0 0em rgba(229, 185, 25, 0.7), 1.75em 1.75em 0 0em #E5B919FF, 0em 2.5em 0 0em rgba(229, 185, 25, 0.2), -1.8em 1.8em 0 0em rgba(229, 185, 25, 0.2), -2.6em 0em 0 0em rgba(229, 185, 25, 0.2), -1.8em -1.8em 0 0em rgba(229, 185, 25, 0.2);
  }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(229, 185, 25, 0.2), 1.8em -1.8em 0 0em rgba(229, 185, 25, 0.2), 2.5em 0em 0 0em rgba(229, 185, 25, 0.5), 1.75em 1.75em 0 0em rgba(229, 185, 25, 0.7), 0em 2.5em 0 0em #E5B919FF, -1.8em 1.8em 0 0em rgba(229, 185, 25, 0.2), -2.6em 0em 0 0em rgba(229, 185, 25, 0.2), -1.8em -1.8em 0 0em rgba(229, 185, 25, 0.2);
  }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(229, 185, 25, 0.2), 1.8em -1.8em 0 0em rgba(229, 185, 25, 0.2), 2.5em 0em 0 0em rgba(229, 185, 25, 0.2), 1.75em 1.75em 0 0em rgba(229, 185, 25, 0.5), 0em 2.5em 0 0em rgba(229, 185, 25, 0.7), -1.8em 1.8em 0 0em #E5B919FF, -2.6em 0em 0 0em rgba(229, 185, 25, 0.2), -1.8em -1.8em 0 0em rgba(229, 185, 25, 0.2);
  }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(229, 185, 25, 0.2), 1.8em -1.8em 0 0em rgba(229, 185, 25, 0.2), 2.5em 0em 0 0em rgba(229, 185, 25, 0.2), 1.75em 1.75em 0 0em rgba(229, 185, 25, 0.2), 0em 2.5em 0 0em rgba(229, 185, 25, 0.5), -1.8em 1.8em 0 0em rgba(229, 185, 25, 0.7), -2.6em 0em 0 0em #E5B919FF, -1.8em -1.8em 0 0em rgba(229, 185, 25, 0.2);
  }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(229, 185, 25, 0.2), 1.8em -1.8em 0 0em rgba(229, 185, 25, 0.2), 2.5em 0em 0 0em rgba(229, 185, 25, 0.2), 1.75em 1.75em 0 0em rgba(229, 185, 25, 0.2), 0em 2.5em 0 0em rgba(229, 185, 25, 0.2), -1.8em 1.8em 0 0em rgba(229, 185, 25, 0.5), -2.6em 0em 0 0em rgba(229, 185, 25, 0.7), -1.8em -1.8em 0 0em #E5B919FF;
  }
}